!!! 5
html(lang='en')
  head
  title!= 'title'
  body!= 'page'
    h1#music-folder #{type}
    div#album
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
  script(src='//raw.github.com/jashkenas/coffee-script/master/extras/coffee-script.js')
  script(type='text/coffeescript', src='/js/script.coffee')
